.nav-pills .nav-link {
    color: #fff;
  /* text-transform: uppercase; */
  padding: 25.3px 25px 22.5px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background-color: #1a2b57 !important;
   font-size: 1.0em;
}
.fafa-green {
  font-size: 3em;
  color: green;
}